$red : #D2000F;
$white : #FFFFFF;
$op-white : #F8F8F8;
$blue : #457B9D;
$cyan : #8FAFC4;
$cel-blue : #DAE5EB;
$cadet : #1F2855;
$vrindian : #0093AD;
$powder : #DCF0F1;
$grey : #A6A9BC;
$op-grey : #D1D4DD;